name: timezone_map_example
publish_to: 'none'

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  collection: ^1.16.0
  flutter:
    sdk: flutter
  timezone_map:
    path: ../
  yaru: ^0.9.0

dev_dependencies:
  flutter_lints: ^3.0.0
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
