name: Semantic PR

on:
  workflow_call:

jobs:
  semantic-pr:
    permissions:
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v6
        id: semantic-pr
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      - uses: marocchino/sticky-pull-request-comment@v2
        if: always() && steps.semantic-pr.outputs.error_message != null
        with:
          header: semantic-pr-error
          message: ${{steps.semantic-pr.outputs.error_message}}
      - if: steps.semantic-pr.outputs.error_message == null
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          header: semantic-pr-error
          delete: true
